<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laonstory.mapper.NoteMapper">
	
	<!-- 받은 쪽지 불러오기 -->
	<select id="getNote" resultType="com.laonstory.vo.NoteVO">
		SELECT * FROM note WHERE noteid=#{noteid}
	</select>
	
	<!-- 받은 쪽지 리스트 불러오기 -->
	<select id="getListNote" resultType="com.laonstory.vo.NoteVO">
		SELECT * FROM note WHRER receinick=#{receinick}
	</select>
	
	<!-- 쪽지 입력 -->
	<insert id="insertNote" parameterType="com.laonstory.vo.NoteVO">
		INSERT INTO note(sendnick, receinick, content) VALUES(#{sendnick}, #{receinick}, #{content})
	</insert>
	
	<!-- 쪽지 수정
	<update id="updateNote" parameterType="com.laonstory.vo.NoteVO">
		UPDATE note SET content=#{content} where commentid=#{commentid}
	</update> -->
	
	<!-- 쪽지 삭제 -->
	<delete id="deleteNote" parameterType="com.laonstory.vo.NoteVO">
		DELETE FROM note WHERE noteid=#{noteid}
	</delete>
	
	<!-- 쪽지 검색 -->
	<select id="getListSearch" resultType="com.laonstory.vo.SearchVO">
		SELECT * FROM note WHERE ${searchCondition} like concat('%', #{searchKeyword}, '%')
	</select>

</mapper>