<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laonstory.mapper.CommentMapper">
	
	<!-- 댓글 개수 확인 -->
	<select id="countComment" parameterType="int" resultType="com.laonstory.vo.CommentVO">
		SELECT COUNT(*) FROM comment WHERE bnum=#{bnum}
	</select>
	
	<!-- 댓글 불러오기 -->
	<select id="getComment" resultType="com.laonstory.vo.CommentVO">
		SELECT * FROM comment WHERE cnum=#{cnum}
	</select>
	
	<!-- 게시글 댓글 리스트 불러오기 -->
	<select id="getListComment" parameterType="int" resultType="com.laonstory.vo.CommentVO">
		SELECT * FROM comment WHERE bnum=#{bnum}
	</select>
	
	<!-- 사용자 댓글 리스트 불러오기 -->
	<select id="getListUserComment" parameterType="com.laonstory.vo.CommentVO" resultType="com.laonstory.vo.CommentVO">
		SELECT * FROM comment WHERE nickname=#{nickname}
	</select>
	
	<!-- 댓글 입력 -->
	<insert id="insertComment" parameterType="com.laonstory.vo.CommentVO">
		INSERT INTO comment(bnum, nickname, content) VALUES(#{bnum}, #{nickname}, #{content})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="com.laonstory.vo.CommentVO">
		UPDATE comment SET content=#{content} where cnum=#{cnum}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM comment WHERE cnum=#{cnum}
	</delete>
	
	<!-- 댓글 검색 
	<select id="getListSearch" resultType="com.laonstory.vo.SearchVO">
		SELECT * FROM board WHERE ${searchCondition} like concat('%', #{searchKeyword}, '%')
	</select> -->

</mapper>